@use '../1-globals/variables';

.layout{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: variables.$layout-bg;
  color: variables.$color-text;
  border-radius: 0 0 -15% -15% ;
  box-shadow: inset 5px 5px 45px rgba(20, 33, 56, .96),
  inset 5px 5px 45px rgba(4, 6, 8, 0.66);

}

.contacts{
  h2:hover{ cursor:default }
}

.contacts-links-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}