@use'./../globals/variables';

.about-me-page{
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(255, 255, 255, .75);
    flex-direction: column;
    font-family:'Trebuchet MS', sans-serif;
}




.text-block{
    margin-bottom: 1rem;
    width: 100%;
    height: max-content;

    .static-line-container{
        width:100%;
        height: max-content;
        overflow-y: hidden;
        .start-phrase{
            width: 100%;
        }
    }
}


.box-type-1{
    width: 100%;
    height: max-content;
    margin: 1rem;
}
.box-type-2{
    text-align: center;
    margin-left:.5rem;
    color:white;
    font-weight: bolder;
    font-family: monospace;
    background-color: variables.$layout-bg;;
    border-radius: 5px;
    &.final{
        align-self: center;
        justify-self: center;
        background-color: transparent;
    }
}

.text-group{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
