@use '../../styles/globals/variables';


.layout{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: variables.$layout-bg;
  color: variables.$color-text;
  box-shadow: inset 5px 5px 45px rgba(20, 33, 56, .96),
  inset 5px 5px 45px rgba(4, 6, 8, 0.66);

}

.contacts{
  h2:hover{ cursor:default }
}

.contacts-links-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content{

  z-index: 100;
  position: fixed;
  bottom: 0;
  height: 30vh;

  width: 103vw;
  overflow-x: hidden;
  border-top: 1px solid white;
  background-color: rgba(29,30,32, 1);
  // background-color: teal;
  display: flex;
  overflow-y: scroll;

  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  border-radius: 25% 25% 0 0;
  .button--contacts-container{

      position: absolute;
      bottom :10vh;
      left:-70vw;
  }

  .navigation{
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 2rem;
      &>*{
          margin-left: .5rem;
          margin-right: .5rem;
      }
      // background-color: tomato;
  }
  
}
.info-container{
  // height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: violet;
}
.info-section{
  // background-color: yellow;
  align-self: center;
  justify-self: center;
  color:white;
  font-size: 1.3rem;
  min-width: 250px;
  max-width: 600px;
  opacity: 0;
}



// .project-card{
//   max-width: 60rem;
//   min-width: 10rem;
//   display: flex;
//   font-size: 1rem;

//   .card-text{
//       padding: .5rem;
//       color:white;
//       h1{
//           margin-bottom: .5rem;
//           border-bottom: 1px solid gray;
//       }
//       h3{
//           margin-bottom: .5rem;
//       }
//   }
//   img{
//       border: 1px solid white;
//       border-radius: 10px;
//       width: 50%;
//   }
// }