@use '../../styles/globals/variables';


.layout{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: variables.$layout-bg;
  color: variables.$color-text;
  box-shadow: inset 5px 5px 45px rgba(20, 33, 56, .96),
  inset 5px 5px 45px rgba(4, 6, 8, 0.66);

}

.contacts{
  h2:hover{ cursor:default }
}

.contacts-links-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content{
  position: fixed;
  bottom: 0;
  height: 30vh;
  max-width: 100rem;
  margin:0 auto ;

  width: 103vw;
  overflow-x: hidden;
  border-top: 1px solid white;
  background-color: rgba(29,30,32, 1);
  display: flex;
  overflow-y: scroll;

  flex-direction: column;
  border-radius: 25% 25% 0 0;

  @media(min-width:1290px){
    .button--contacts-container{
      position: absolute;
      bottom :10vh;
      left:-70vw;
    }
  }

  .navigation{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    &>*{
      margin-left: .5rem;
      margin-right: .5rem;
    }
  }
  
}
.info-container{
  max-width: 60rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
  @media(min-width:700px){
    &{
      margin: 0 auto;
    }
  }
}
.info-section{
  align-self: center;
  justify-self: center;
  color:white;
  font-size: 1.3rem;
  min-width: 250px;
  max-width: 600px;
  opacity: 0;
}